In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Load the Excel file
file_path = "OR_AE2_Project_Adjusted.xlsx" #Takes 108 seconds
df = pd.read_excel(file_path, engine='openpyxl')

df.head()

,Site_Code,Site_Type,Site_X,Site_Y,Site_Loc_GPs,Site_Loc_GP_List,Site_Pop_20miles,Pat_X,Pat_Y,Pat_Loc_GPs,Pat_Loc_GP_List,Drive_Distance_Miles,Driving_Time_mins,Attendance_Type,Age_Group,Wait_Time,Year,Month,Number_Of_Attendances
0,2,ED,39785,114688,50,210000,1814482,38971,114101,0,0,00 to 05,00 to 05,New - unplanned,20-39,00-29,1,2,1
1,2,ED,39785,114688,50,210000,1814482,38971,114101,0,0,00 to 05,00 to 05,New - unplanned,20-39,00-29,1,3,2
2,2,ED,39785,114688,50,210000,1814482,38971,114101,0,0,00 to 05,00 to 05,New - unplanned,20-39,00-29,1,4,3
3,2,ED,39785,114688,50,210000,1814482,38971,114101,0,0,00 to 05,00 to 05,New - unplanned,20-39,00-29,1,5,3
4,2,ED,39785,114688,50,210000,1814482,38971,114101,0,0,00 to 05,00 to 05,New - unplanned,20-39,00-29,1,6,2

In [3]:
# Controlla se la colonna "Number of Attendances" esiste e che sia numerica
if 'Number_Of_Attendances' in df.columns and pd.api.types.is_numeric_dtype(df['Number_Of_Attendances']):
    # Crea il dataset esteso replicando ogni riga in base a 'Number of Attendances'
    print("Still working...")
    df_expanded = df.loc[df.index.repeat(df['Number_Of_Attendances'])].reset_index(drop=True)
    
    # Rimuove la colonna "Number of Attendances" se non necessaria
    df_expanded = df_expanded.drop(columns=['Number_Of_Attendances'])
    
    print(f"\nDimensioni del dataset originale: {df.shape}")
    print(f"Dimensioni del dataset esteso: {df_expanded.shape}")
else:
    print("Errore: La colonna 'Number of Attendances' non esiste o non Ã¨ numerica.")

Still working...

Dimensioni del dataset originale: (364346, 19)
Dimensioni del dataset esteso: (1811942, 18)

In [4]:
df_expanded.head()

,Site_Code,Site_Type,Site_X,Site_Y,Site_Loc_GPs,Site_Loc_GP_List,Site_Pop_20miles,Pat_X,Pat_Y,Pat_Loc_GPs,Pat_Loc_GP_List,Drive_Distance_Miles,Driving_Time_mins,Attendance_Type,Age_Group,Wait_Time,Year,Month
0,2,ED,39785,114688,50,210000,1814482,38971,114101,0,0,00 to 05,00 to 05,New - unplanned,20-39,00-29,1,2
1,2,ED,39785,114688,50,210000,1814482,38971,114101,0,0,00 to 05,00 to 05,New - unplanned,20-39,00-29,1,3
2,2,ED,39785,114688,50,210000,1814482,38971,114101,0,0,00 to 05,00 to 05,New - unplanned,20-39,00-29,1,3
3,2,ED,39785,114688,50,210000,1814482,38971,114101,0,0,00 to 05,00 to 05,New - unplanned,20-39,00-29,1,4
4,2,ED,39785,114688,50,210000,1814482,38971,114101,0,0,00 to 05,00 to 05,New - unplanned,20-39,00-29,1,4